.flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

/* Buttons */
.siren-browser-button {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: none;
    padding: 0.5em;
}

.siren-browser-button:hover {
    background-color: var(--vscode-button-hoverBackground);
    cursor: pointer;
}

.siren-browser-icon-button {
    background-color: transparent;
    border: none;
    color: var(--vscode-button-foreground);
    height: 20px;
    width: 20px;

    margin: auto 0;
    padding: 0;
}
.siren-browser-icon-button:hover {
    cursor: pointer;
}

/* Inputs */
.siren-input {
    background-color: var(--vscode-input-background);
    border: 1px solid var(--vscode-input-border);
    color: var(--vscode-input-foreground);
    padding: 0.5em;
}

.siren-input::placeholder {
    color: var(--vscode-input-placeholderForeground);
}

.siren-input:hover {
    background-color: var(--vscode-inputOption-hoverBackground);
    color: var(--vscode-inputOption-hoverForeground);
    border: 1px solid var(--vscode-inputOption-hoverBorder);
}

.siren-input:active {
    background-color: var(--vscode-inputOption-activeBackground);
    color: var(--vscode-inputOption-activeForeground);
}

.siren-input-label {
    height: 1em;
}

input[type=checkbox] {
    -webkit-appearance: none;
	background-color: var(--vscode-checkbox-background);
	border: 1px solid var(--vscode-checkbox-border);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    height: 1em;
    width: 1em;
}

input[type=checkbox]:hover {
    cursor: pointer;
}

input[type=checkbox]:active, input[type=checkbox]:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

input[type=checkbox]:checked {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: var(--vscode-checkbox-foreground);
}

input[type=checkbox]:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: var(--vscode-checkbox-foreground);
}
